.Navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    a{
        text-decoration: none;
        color: black;
    }
    
    .left{
        display: flex;
        align-items: center;
        gap: 10px;
        
        
        
        a{
            display: flex;
            align-items: center;
            gap: 7px;
            
        }
    }
    .center{
    span{
        font-weight: 500;
    }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 10px;
        .pannier{
            position: relative;
            span{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15px;
                height: 16px;
                top: -7px;
                left: 12px;
                color: aliceblue;
                font-size: 11px;
                background-color: rgb(84, 84, 240);
                border-radius: 50%;
            }
        }
    }
}